body {
    background-color: rgb(243, 213, 239);
}

.logo {
    font-size: 40px;
    font-weight: bolder;
    color: black;
    font-weight: 800;
    font-family: century;
}

span {
    color: purple;
}

.home {
    width: 100%;
    min-height: 60vh;
    background-color: rgb(243, 213, 239);

}

.home-content {
    max-width: 800px;
    margin-left: 4%;
    margin-top: 20%;
    font-family: century;
}

.home-content h2 {
    font-size: 42px;
    font-family: century;
}

.home-content h3 {
    font-size: 62px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: century;
}

.home-content p {
    line-height: 22px;
    margin-bottom: 200px;
    font-family: century;
}

.img-box img {
    border-radius: 50%;
    width: 350px;
    position: absolute;
    right: 100px;
    bottom: 0;
    margin-bottom: 100px;
    margin-top: 55%;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: purple;
}

::-webkit-scrollbar-track {
    background-color: black;
    width: 50px;
}

.headings{
    text-align: center;
}

.about {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    padding: 12%;
    color: white;
    font-family: century;
}

.hobbies {
    padding: 12%;
    font-family: century;
}

.animal {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    padding: 12%;
    color: white;
    font-family: century;
}

.image {
    position: absolute;
    left: 30%;
    width: 25%;
    background-color: #000;
}

.projects {
    display: flex;
    flex-direction: column;
    padding: 150px;
    width: 100%;
    min-height: 60vh;
    font-family: century;
    font-weight: bolder;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    border: 1px solid black;
    margin: 30px;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(to top, white 50%,rgb(243, 213, 239) 50%);
    background-size: 100% 200%;
    transition: all .8s;
}

.box:hover{
    background-position: left bottom;
    color: black;
    border: none;
    box-shadow: 0 0 20px white;
}

.btn-4 {
    background-color: rgb(243, 213, 239);
    color: #000;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    font-family: century;
}

.btn-4:hover {
    background-color: white;
    color: purple;
    box-shadow: 0 0 10px rgb(243, 213, 239);
}

.projects h2 {
    margin-top: 100px;
    font-family: century;
}

.contact {
    width: 100%;
    min-height: 60vh;
    background-color: black;
    padding: 12%;
    color: white;
    font-family: century;
}

.h1 {
    padding-bottom: 12%;
    font-family: century;
}

.li {
    font-size: medium;
    font: 1em sans-serif;
    font-weight: bold;
}

.footer {
    text-align: center;
    background-color: rgb(243, 213, 239);
    font-family: century;
    color: black;
    height: 40px;
    padding: 20px 20px;
}

.footer-content {
    margin-left: 40%;
}